<%include ../partials/nav%> 

<!-- HEADER -->
<header id="main-header" class="py-2 bg-primary text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1><i class="fa fa-gear"></i> Dashboard</h1>
			</div>
		</div>
	</div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-faded">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal"><i class="fa fa-plus"></i> Add Post</a>
			</div>
			<!-- <div class="col-md-3">
				<a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#addCategoryModal"><i class="fa fa-plus"></i> Add Catgeory</a>
			</div>
			<div class="col-md-3">
				<a href="#" class="btn btn-warning btn-block" data-toggle="modal" data-target="#addUserModal"><i class="fa fa-plus"></i> Add User</a>
			</div> -->
		</div>
	</div>
</section>


<!-- POST -->
<section id="posts">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="card">
					<div class="card-header">
						<h4>Latest Posts</h4>
					</div>
					<table class="table table-striped">
						<thead class="thead-inverse">
							<tr>
								<th>#</th>
								<th>Title</th>
								<th>Category</th>
								<th>Date Posted</th>
								<th></th>
							</tr>
						</thead>
						<tbody>

					<!-- populate section with post	==================================================================	 -->
						<%  var count = 0; %>
					<% post.forEach(function(post) {%>
								<% ++count; %>
							<tr>
								<td scope="row"><%= count %></td>
								<td> <%= post.title %></td>
								<td>category</td>
								<td> <%= post.createdAt %></td>
								<td><a href="/admin/edit/<%= post.id %>" class="btn btn-secondary"><i class="fa fa-angle-double-right"></i> Details</a></td>
							</tr>	
					<%})%>						
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card text-center card-primary text-white mb-3">
					<div class="card-block">
						<h3>Posts</h3>
						<h1 class="display-4"><i class="fa fa-pencil"></i> <%= post.length %></h1>
						<a href="/post/home" class="btn btn-sm btn-outline-secondary text-white">View</a>
					</div>
				</div>

				<!-- <div class="card text-center card-success text-white mb-3">
					<div class="card-block">
						<h3>Categories</h3>
						<h1 class="display-4"><i class="fa fa-folder-open-o"></i>4</h1>
						<a href="" class="btn btn-sm btn-outline-secondary text-white">View</a>
					</div>
				</div>

				<div class="card text-center card-warning text-white mb-3">
					<div class="card-block">
						<h3>Users</h3>
						<h1 class="display-4"><i class="fa fa-users"></i>6</h1>
						<a href="" class="btn btn-sm btn-outline-secondary text-white">View</a>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>

<!-- FOOTER -->
<footer class="bg-inverse text-white mt-5 p-5" id="main-footer">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="lead text-center">Copyright &copy; 2017 Blogen</p>
			</div>
		</div>
	</div>
</footer>






























<!-- =================================================================================== -->

<!-- ADD POST MODAL -->
<form action="/post/create" method="Post" class="addModalFormTag">
	<div class="modal fade container" id="addPostModal">
		<div class="row">
			<div class="col-lg-10">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header bg-primary text-white">
							<h5 class="modal-title" id="addPostModalLabel">Add Post</h5>
							<button class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
						</div>

						<div class="modal-body">
					
								<div class="form-group">
									<label for="title" class="form-control-label">Title</label>
									<input type="text" class="form-control" name="title">
								</div>
								
								<div class="form-group">
									<label for="category" class="form-control-label">Category</label>
									<select class="form-control" name="category">
		<!-- for each category in the list create an option -->
										<!-- dynamic values from category  -->
										<option value=""> category </option>

									</select>
								</div>

								<div class="form-group bg-faded p-3">
									<label for="file">Image Upload</label>
									<input type="file" class="form-control-file" id="file" name="image">
									<small id="fileHelp" class="form-text text-muted">
										Max Size 3MB
									</small>
								</div>

								<div class="form-group">
									<label for="body">Body</label>
									<textarea class="form-control" name="body"></textarea>
								</div>
						</div>
						<div class="modal-footer">
							<!-- <button class="btn btn-secondary" data-dismiss="modal">Close</button> -->
							<input  class="btn btn-primary" type="submit" value="Submit" id="addModalFormButton">
							<!-- <button class="btn btn-primary"  type="submit">Add Post</button> -->
						</div>
			
					</div>
				</div>
			</div>
		</div>
	</div>

</form>







<!-- =================================================================================== -->

<!-- ADD CATEGORY MODAL -->
<!-- <form action="/postcategory/create" method="post">
		<div class="modal fade" id="addCategoryModal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header bg-success text-white">
							<h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
							<button class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="title" class="form-control-label">Title</label>
									<input type="text" class="form-control" name="category">
								</div>					
							</form>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button class="btn btn-success" >Add Category</button>
						</div>
					</div>
				</div>
			</div>
</form> -->



<!-- =================================================================================== -->

<!-- ADD USER MODAL -->
<!-- <div class="modal fade" id="addUserModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-warning text-white">
				<h5 class="modal-title" id="addUserModalLabel">Add User</h5>
				<button class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="name" class="form-control-label">Name</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label for="email" class="form-control-label">Email</label>
						<input type="email" class="form-control">
					</div>
					<div class="form-group">
						<label for="password" class="form-control-label">Password</label>
						<input type="password" class="form-control">
					</div>
					<div class="form-group">
						<label for="password2" class="form-control-label">Confirm Password</label>
						<input type="password" class="form-control">
					</div>					
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button class="btn btn-warning" data-dismiss="modal">Add User</button>
			</div>
		</div>
	</div>
</div>
 -->


  <script>
		// alert('connecting11!!!!!!!')
		CKEDITOR.replace('editor1');
		// $('#button').submit(function(e) {
		// 	e.preventDefault();

		// 	$('#addPostModal').modal('toggla');
		// 	return false;
		// })


	$(function() {

	$('#addModalFormButton').on('click', function(e) {
			e.preventDefault();
			// alert('submit')

			$.ajax({
					type: "POST",
					url: $form.attr('action'),
					data: $('form.addModalFormButtonTag').serialize(),
					success: function(response) {
							alert(response['response']);
					},
					error: function() {
							alert('Error');
					}
			});
			return false;
	});
	});
  </script>