  <%include ../partials/nav%> 
<div class="container" >
    <section class="space--sm">
        <div class="row">
            <div class="col-md-8 col-sm-10 col-lg-8">
                    <div class="masonry masonry-blog-list">
                            <div class="masonry-filter-container text-center" style="margin-bottom:-4em"> 
                                <span> <h1> Latest Post </h1></span>
                            </div>                   
                            <div class="masonry__container masonry--active">
                                    <article class="masonry__item voh vnn filter-web-design" data-masonry-filter="Web Design" style="position: absolute; left: 0px;"> 

                                <% post.forEach(function(post) {%>
                                    <div class="article__title text-center" style="text-align:center; margin: 10px; color: gray; font-weight:200; padding-top:2em" >
                                            <a href="/post/show/<%= post.id%>">
                                                 <h2> <%= post.title%> </h2>
                                            </a> <span> <%= post.createdAt.toDateString() %> </span><span>Category</span> 
                                    </div>
                                    <hr>
                                    <div class="card text-center">
                                    <img class="card-img-top" src="/images/bg.jpg" alt="">
                                    <div class="card-body">
                                        <p class="card-text">  <%= post.body.substring(0, 100) %> </p> <a href="/post/show/<%= post.id%>" >Continue reading »</a> 
                                    </div>
                                    </div>
                                <%})%>
                            </article>
                                
                            </div>
                        
                        </div>
            </div>
        </div>
    </section>
</div> 
